# ===================
# 기타
# ===================
PORT=4000
ENV=ENV
AUTH_COOKIE_DOMAIN=AUTH_COOKIE_DOMAIN


# ===================
# 데이터베이스
# ===================
DATABASE_URL=DATABASE_URL
DIRECT_URL=DIRECT_URL

# ===================
# DEEPL(번역)
# ===================
DEEPL_AUTH_KEY=DEEPL_AUTH_KEY

# ===================
# Github
# ===================
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET
GITHUB_REDIRECT_URI=GITHUB_REDIRECT_URL
GITHUB_OAUTH_SCOPE=GITHUB_OAUTH_SCOPE

# ===================
# Google
# ===================
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URL=GOOGLE_REDIRECT_URL
GOOGLE_OAUTH_SCOPE=GOOGLE_OAUTH_SCOPE

# ===================
# JWT
# ===================
JWT_ACCESS_EXPIRE=JWT_ACCESS_EXPIRE
JWT_REFRESH_EXPIRE=JWT_REFRESH_EXPIRE
JWT_SECRET=JWT_SECRET

# ===================
# AWS
# ===================
AWS_REGION=AWS_REGION
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY

# ===================
# AWS S3
# ===================
AWS_S3_BUCKET_NAME=AWS_S3_BUCKET_NAME
AWS_S3_BUCKET_URL=AWS_S3_BUCKET_URL
AWS_S3_PRESIGNED_URL_EXPIRE=AWS_S3_PRESIGNED_URL_EXPIRE
AWS_S3_PRESIGNED_BUCKET_NAME=AWS_S3_PRESIGNED_BUCKET_NAME
